<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Catch-All</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/wiz.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/css/bd-wizard.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    
    

    <!-- CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.4.1/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/wiz.js"></script>
    <script src="js/pace.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.steps.min.js"></script>
    <script src="assets/js/bd-wizard.js"></script>
    <script src="js/modernizr.js"></script> <!-- Modernizr -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#myModal").modal('show');
        });
    </script>
    

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">
    <nav class="cd-vertical-nav">
        <ul>
            <li><a href="#home" class="active"><span class="label">Home</span></a></li>
            <li><a href="#nc"><span class="label">North Central</span></a></li>
            <li><a href="#what"><span class="label">Some Tips</span></a></li>
            <li><a href="#weedid"><span class="label">Weed Search</span></a></li>
            <li><a href="#grant"><span class="label">Grants</span></a></li>
            <li><a href="#wons"><span class="label">WONS</span></a></li>
        </ul>
    </nav><!-- .cd-vertical-nav -->

    <button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button>

    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="/home">
                <img src="images/logotf.png" alt="Homepage">
            </a>
        </div>

    </header> <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section cd-section" data-parallax="scroll" data-image-src="images/hero-bg.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Welcome to Catch-All</h3>

                <h1>
                    Want to avoid the $5000 fine?<br>
                    We help identify noxious weeds & <br>
                    Quick tips to eradicate them
                    without harming your wallet.
                </h1>

                <div class="home-content__buttons">
                    <a href="#weedid" class="smoothscroll btn btn--stroke">
                        Weed Search
                    </a>
                    <a href="#nc" class="smoothscroll btn btn--stroke">
                        See More
                    </a>
                </div>

            </div>

            

        </div> <!-- end home-content -->


        
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- north central
    ================================================== -->
     <section id='nc' class="s-about cd-section">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">North Central Catchment</h3>
                <h1 class="display-2 display-2--light">How much do you know about north central catchment</h1>
                
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="row">
                <div class="col-xs-6">
                    <p><img style="width: 400px; height: 500px;" src="images/nc-map.png" alt="">
                    </p>
                </div>
                <div class="col-xs-6" style="padding-left: 200px;">
                    <p><img src="images/nc.png" alt="">
                    </p>
                </div>
            </div><!-- end about-desc -->
         </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline2">
                        <div class="timeline">
                            <span class="icon fa fa-globe"></span>
                            <a class="timeline-content">
                                <h3 class="title">Geography</h3>
                                <p class="description">
                                    The North Central CMA region covers an area of around 30,000 km²; about 13% of Victoria. It is bordered by the mighty Murray River to the north, 
                                    the Great Dividing Range and Wombat State Forest to the south, Mt Camel Range to the east, and the western border of the Avon-Richardson catchment in the west.
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <span class="icon fa fa-tree"></span>
                            <a class="timeline-content">
                                <h3 class="title">Nature</h3>
                                <p class="description">
                                    The region is packed with an abundance of diverse natural attractions from forested national parks to waterfalls, gorges, slow meandering waterways and is home to wetlands of international significance. 
                                    The region is teeming with a variety of flora and fauna – some of which are found nowhere else.
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <span class="icon fa fa-tint"></span>
                            <a class="timeline-content">
                                <h3 class="title">Rivers</h3>
                                <p class="description">
                                    The region has four major river catchments; the Campaspe, Loddon, Avoca and Avon-Richardson. 
                                    These rivers are the lifeblood of the region and the communities that depend on them.                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <span class="icon fa fa-university"></span>
                            <a class="timeline-content">
                                <h3 class="title">City Councils</h3>
                                <p class="description">
                                    There are 13 municipalities in the North Central CMA region; Shires of Gannawarra, Buloke, Northern Grampians, Pyrenees, 
                                    Central Goldfields, Loddon, Hepburn, Macedon Ranges, Mount Alexander, Mitchell and Campaspe and the City of Greater Bendigo and City of Ballarat.                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
                
            <div class="col-block stats__col ">
                <div class="stats__count">30</div>
                <h5>Thousand KM<sup>2</sup> of Catchment Area</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">4</div>
                <h5>River Catchments</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">13</div>
                <h5>Municiplaities</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">1</div>
                <h5>CMA</h5> 
            </div>

        </div> <!-- end about-stats -->
         
        

    </section><!-- end s-about -->

    <!-- tips
    ================================================== -->
    <section id='what' class="s-services cd-section">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What Can I Do?</h3>
                <h1 class="display-2">We’ve got a few tips on how you can play a part in managing noxious weeds.</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-loop2"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Replace weedy plants </h3>
                    <p>Replace weedy plants in your garden with varieties that do not spread.  Some environmental weeds are Gazania, Cape Broom, non-native grasses, some succulent species and Cootamundra Wattles. These are just some of the noticeable garden escapees in Bendigo’s bushland.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-search"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Find out more about weeds</h3>
                    <p>Find out more about weeds by using our Weed Identification Tool or searching online for the Weeds Identification Guide of North Central Victoria. Also there are many other resources and local groups online that can help too.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-bin"></i>
                </div>  
                <div class="service-text">
                    <h3 class="h2">Green Waste Disposal</h3>
                    <p>Bad management, such as dumping garden waste in bushland, is one of the key reasons weeds escape the gardens and begin growing in bushland and waterways.
                        You can help minimise the spread of weeds through responsible disposal of garden waste.
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-github"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Keep pets from roaming in reserves</h3>
                    <p>Keep pets from roaming in reserves, unless it is an off-leash area. Weed seeds and plant diseases get caught in fur and dispersed through bushland. 
                    </p>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-leaf"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Removing weeds from your land</h3>
                    <p>There maybe noxious weeds growing on your land. Different weeds have different methods of removal depending on the way they grow and propagate. Use our tool to search for the weed you want to remove and also find information on the best methods to remove that weed.
                    </p>
                </div>
            </div>
    
            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon"><i class="icon-home"></i></div>
                <div class="service-text">
                    <h3 class="h2">Monitor your property</h3>
                    <p>Your property  needs regular checks for weeds even if you're not permanently living there.   Follow good guidelines for the neighbours. Plant bushes and trees along borders, for example, to help prevent seed from spreading between properties.
                    </p>
                </div>
            </div>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    


    <!-- weedid
    ================================================== -->
    <section id='weedid' class="s-works cd-section">

        <div class="intro-wrap">
                
            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">Weed Search</h3>
                    <h1 class="display-2 display-2--light">Use this multi-filter weed identification tool to find out the ones that trouble you.</h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
            <div class="col-full s-masonry-wrap">
                <div class="card" style="background-color: #fff">
                    <h3 class="heading">Search for Weeds</h3>
                    <ul id="progressbar" class="text-center">
                        <li class="active step0" id="step1"></li>
                        <li class="step0" id="step2"></li>
                        <li class="step0" id="step3"></li>
                        <li class="step0" id="step4"></li>
                    </ul>
                    <fieldset class="show">
                        <div class="form-card">
                            <h5 class="sub-heading">Select Growth Form</h5>
                            <div class="row px-1 radio-group">
                                <div class="card-block text-center radio selected"  id="c1" value="0" onclick="javascript:document.getElementById('c1').setAttribute('value',document.getElementById('c1').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1" src="images/wd/shrub.png"> </div>
                                    <p class="sub-desc">Shrub</p>
                                </div>
                                <div class="card-block text-center radio" id="c2" value="0" onclick="javascript:document.getElementById('c2').setAttribute('value',document.getElementById('c2').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1 fit-image" src="images/wd/hb.png"> </div>
                                    <p class="sub-desc">Herb</p>
                                </div>
                                <div class="card-block text-center radio" id="c3" value="0" onclick="javascript:document.getElementById('c3').setAttribute('value',document.getElementById('c3').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1 fit-image" src="images/wd/grass.png"> </div>
                                    <p class="sub-desc">Grass</p>
                                </div>
                                <div class="card-block text-center radio" id="c4" value="0" onclick="javascript:document.getElementById('c4').setAttribute('value',document.getElementById('c4').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1 fit-image" src="images/wd/tree.png"> </div>
                                    <p class="sub-desc">Tree</p>
                                </div>
                                <div class="card-block text-center radio" id="c5" value="0" onclick="javascript:document.getElementById('c5').setAttribute('value',document.getElementById('c5').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1 fit-image" src="images/wd/aq.png"> </div>
                                    <p class="sub-desc">Aquatic</p>
                                </div>
                            </div> <button id="next1" style="background-color:#ffc90e" class="btn-block btn mt-3 mb-1 next">NEXT</button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <h5 class="sub-heading">Select Leaf Arrangement</h5>
                            <div class="row px-1 radio-group">
                                <div class="card-block text-center radio selected"  id="d1" value="0" onclick="javascript:document.getElementById('d1').setAttribute('value',document.getElementById('d1').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1" src="images/wd/basal.png"> </div>
                                    <p class="sub-desc">Basal</p>
                                </div>
                                <div class="card-block text-center radio" id="d2" value="0" onclick="javascript:document.getElementById('d2').setAttribute('value',document.getElementById('d2').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1 fit-image" src="images/wd/w.png"> </div>
                                    <p class="sub-desc">Whorled</p>
                                </div>
                                <div class="card-block text-center radio" id="d3" value="0" onclick="javascript:document.getElementById('d3').setAttribute('value',document.getElementById('d3').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1 fit-image" src="images/wd/alt.png"> </div>
                                    <p class="sub-desc">Alternate</p>
                                </div>
                                <div class="card-block text-center radio" id="d4" value="0" onclick="javascript:document.getElementById('d4').setAttribute('value',document.getElementById('d4').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1 fit-image" src="images/wd/opp.png"> </div>
                                    <p class="sub-desc">Opposite</p>
                                </div>
                            </div> <button id="next1" style="background-color:#ffc90e" class="btn-block mt-3 mb-1 next" onclick=>NEXT</button> <button class="btn-block mt-3 mb-1 prev">PREVIOUS</button>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <h5 class="sub-heading">Select Leaf Form</h5>
                            <div class="row px-1 radio-group">
                                <div class="card-block text-center radio selected" id="e1" value="0" onclick="javascript:document.getElementById('e1').setAttribute('value',document.getElementById('e1').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1" src="images/wd/comp.png"> </div>
                                    <p class="sub-desc">Compound</p>
                                </div>
                                <div class="card-block text-center radio" id="e2" value="0" onclick="javascript:document.getElementById('e2').setAttribute('value',document.getElementById('e2').getAttribute('value')+1)">
                                    <div class="image-icon"> <img class="icon icon1 fit-image" src="images/wd/fern.png"> </div>
                                    <p class="sub-desc">Simple</p>
                                </div>
                            </div> <button onclick="javascript:window.location.href='/db?c1='+document.getElementById('c1').getAttribute('value')+'&c2='+document.getElementById('c2').getAttribute('value')+'&c3='+document.getElementById('c3').getAttribute('value')+'&c4='+document.getElementById('c4').getAttribute('value')+'&c5='+document.getElementById('c5').getAttribute('value')+'&d1='+document.getElementById('d1').getAttribute('value')+'&d2='+document.getElementById('d2').getAttribute('value')+'&d3='+document.getElementById('d3').getAttribute('value')+'&d4='+document.getElementById('d4').getAttribute('value')+'&e1='+document.getElementById('e1').getAttribute('value')+'&e2='+document.getElementById('e2').getAttribute('value')" class="btn-block mt-3 mb-1 next" style="background-color:#ffc90e">SEARCH</button> <button class="btn-block mt-3 mb-1 prev">PREVIOUS</button>
                        </div>
                    </fieldset>
                </div>
            </div> <!-- end col-full -->
        </div> <!-- end works-content -->

    </section> <!-- end s-works -->


    

    <!-- grant
    ================================================== -->
    <section id="grant" class="s-contact cd-section">



        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Grants</h3>
                <h1 class="display-2 display-2--light">Browse through the following financial aid sources for your weed problems.</h1>
            </div>
        </div>

        <div id="myCarousel" class="carousel" data-ride="carousel"> 
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">		
                <div class="item carousel-item active">
                    <div class="img-box"><img src="images/epa.png" alt=""></div>
                    <p class="testimonial">
                        This ‘Inspiring Environmental Solutions Program’ invites Victorian communities to propose
                        fresh thinking and inspirational solutions to the important environment challenges we face.
                    </p>
                    <p class="overview"><b>Grant Status</b><a>Open</a></p>
                    <div class="star-rating">
                        <!-- Button HTML (to Trigger Modal) -->
                        <a href="#modalScrollableCenter" role="button" class="btn" data-toggle="modal">Read More</a>
                        <!-- Scrollable Modal HTML -->
                        <div id="modalScrollableCenter" class="modal fade" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">EPA Community Funding Program</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p style="text-align: justify;">This ‘Inspiring Environmental Solutions Program’ invites Victorian communities to propose
                                            fresh thinking and inspirational solutions to the important environment challenges we face.
                                            Funding is sourced through a legislative scheme where the ‘polluter pays’. Under the
                                            Environment Protection Act 1970, a company or individual found guilty of environmental
                                            pollution may be directed by a Magistrate to fund a community project instead of paying
                                            a court fine.
                                        </p><br>
                                        <h5>Purpose</h5><br>
                                        <p style="text-align: justify;">Proposals must enhance the environment in a public place, or undertake
                                            environmental activities for the benefit of the community under eight proposal areas. Funding is available across the six categories: climate change, waster reduction, resource
                                            sustainability, air quality, water quality, environmental rehabilitation.
                                        </p><br>
                                        <h5>Who can Apply</h5><br>
                                        <p style="text-align: justify;">Proposals must enhance the environment in a public place, or undertake
                                                environmental activities for the benefit of the community under eight proposal areas.Funding is available across the six categories: climate change, waster reduction, resource
                                                sustainability, air quality, water quality, environmental rehabilitation.
                                        </p><br>
                                        <h5>Contact Information</h5><br>
                                        <ul class="list-unstyled">
                                         <li><a style=color:#000000 href="mailto:ies@epa.vic.gov.au"><i class="ti-email mr-2"></i>ies@epa.vic.gov.au</a></li><br>
                                         <li><a style=color:#000000 href="callto:+61396952722"><i class="ti-mobile mr-2"></i>+61 3 9695 2722</a></li><br>
                                         <li><a style=color:#000000 href="www.epa.vic.gov.au"><i class="ti-world mr-2"></i>www.epa.vic.gov.au</a></li>
                                        </ul><br><br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item carousel-item">
                    <div class="img-box"><img src="images/cogb.png" alt=""></div>
                    <p class="testimonial">
                        The program provides an opportunity for community groups and organisations to complete projects 
                        that complement the areas of community strengthening that have been identified for the City of Greater Bendigo community.
                    </p>
                    <p class="overview"><b>Grant Status</b><a>Closed</a></p>
                    <div class="star-rating">
                        <!-- Button HTML (to Trigger Modal) -->
                        <a href="#modalCOGB" role="button" class="btn" data-toggle="modal">Read More</a>
                        <!-- Scrollable Modal HTML -->
                        <div id="modalCOGB" class="modal fade" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Environmental Sustainability Community Grant</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p style="text-align: justify;">This ‘Inspiring Environmental Solutions Program’ invites Victorian communities to propose
                                            fresh thinking and inspirational solutions to the important environment challenges we face.
                                            Funding is sourced through a legislative scheme where the ‘polluter pays’. Under the
                                            Environment Protection Act 1970, a company or individual found guilty of environmental
                                            pollution may be directed by a Magistrate to fund a community project instead of paying
                                            a court fine.
                                        </p><br>
                                        <h5>Purpose</h5><br>
                                        <p style="text-align: justify;">Proposals must enhance the environment in a public place, or undertake
                                            environmental activities for the benefit of the community under eight proposal areas. Funding is available across the six categories: climate change, waster reduction, resource
                                            sustainability, air quality, water quality, environmental rehabilitation.
                                        </p><br>
                                        <h5>Who can Apply</h5><br>
                                        <p style="text-align: justify;">Proposals must enhance the environment in a public place, or undertake
                                                environmental activities for the benefit of the community under eight proposal areas.Funding is available across the six categories: climate change, waster reduction, resource
                                                sustainability, air quality, water quality, environmental rehabilitation.
                                        </p><br>
                                        <h5>Contact Information</h5><br>
                                        <ul class="list-unstyled">
                                         <li><a style=color:#000000 href="mailto:ies@epa.vic.gov.au"><i class="ti-email mr-2"></i>ies@epa.vic.gov.au</a></li><br>
                                         <li><a style=color:#000000 href="callto:+61396952722"><i class="ti-mobile mr-2"></i>+61 3 9695 2722</a></li><br>
                                         <li><a style=color:#000000 href="www.epa.vic.gov.au"><i class="ti-world mr-2"></i>www.epa.vic.gov.au</a></li>
                                        </ul><br><br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>


    </section> <!-- end s-grant -->

    <!-- wons
    ================================================== -->

    <section id='wons' class="s-works cd-section" style="border-top: 2px solid #ffc90e">

        <div class="intro-wrap">          
            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">Weeds of National Significance</h3>
                    <h1 class="display-2">Do you recongnize these WONS weeds?</h1>
                </div>
            </div> <!-- end section-header -->
        </div>


        <div class="row s-masonry-wrap works-content">
            <div class="s-masonry">

                <div class="s-masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/ca.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/portfolio/ca.jpg" 
                                     srcset="images/portfolio/ca.jpg 1x, images/portfolio/ca-2.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Cabomba
                            </h3>
                            <p class="item-folio__cat">
                                Cabomba caroliniana
                            </p>
                        </div>
        
        
                        <span class="item-folio__caption">
                            <p>It is an invasive woody weed of rivers, streams considered to cause erosion and flooding.<br>
                                Photographed by Wilson, C.G. at Berrimah, NT.
                                <a href="http://www.anbg.gov.au/cgi-bin/phtml?pc=dig&pn=12513&size=3" target="_blank">Link</a>
                            </p>
                            
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="s-masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/cw.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/portfolio/cw.jpg" 
                                     srcset="images/portfolio/cw.jpg 1x, images/portfolio/cw-2.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Crack Willow
                            </h3>
                            <p class="item-folio__cat">
                                Salix fragilis
                            </p>
                        </div>
        
        
                        <span class="item-folio__caption">
                            <p>It is an invasive woody weed of rivers, streams considered to cause erosion and flooding.<br>
                                Photographed by Fagg, M. at Murrumbidgee River N of Cooma, NSW.
                                <a href="http://www.anbg.gov.au/cgi-bin/phtml?pc=dig&pn=19981&size=3" target="_blank">Link</a>
                            </p>
                            
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->


                
                <div class="s-masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/pa.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/portfolio/pa.jpg" 
                                     srcset="images/portfolio/pa.jpg 1x, images/portfolio/pa-2.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Parthenium Weed
                            </h3>
                            <p class="item-folio__cat">
                                Parthenium hysterophorus
                            </p>
                        </div>
        
        
                        <span class="item-folio__caption">
                            <p>It is an invasive woody weed of rivers, streams considered to cause erosion and flooding.<br>
                                Photographed by Wilson, C.G. at Bangalore, India.
                                <a href="http://www.anbg.gov.au/cgi-bin/phtml?pc=dig&pn=12617&size=3" target="_blank">Link</a>
                            </p>
                            
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="s-masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/bw.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/portfolio/bw.jpg" 
                                     srcset="images/portfolio/bw.jpg 1x, images/portfolio/bw-2.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Black Willoww
                            </h3>
                            <p class="item-folio__cat">
                                Salix nigra
                            </p>
                        </div>
        
        
                        <span class="item-folio__caption">
                            <p>It is an invasive woody weed of rivers, streams considered to cause erosion and flooding.<br>
                                Photographed by Baker, J. at Lower Kiewa River, VIC.
                                <a href="http://www.anbg.gov.au/cgi-bin/phtml?pc=dig&pn=12678&size=3" target="_blank">Link</a>
                            </p>
                            
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                

                <div class="s-masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/wh.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/portfolio/wh.jpg" 
                                     srcset="images/portfolio/wh.jpg 1x, images/portfolio/wh-2.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Water Hyacinth
                            </h3>
                            <p class="item-folio__cat">
                                Eichhornia crassipes
                            </p>
                        </div>
        
        
                        <span class="item-folio__caption">
                            <p>It is an invasive woody weed of rivers, streams considered to cause erosion and flooding.<br>
                                Photographed by Wilson, C.G. at Brisbane, QLD.
                                <a href="http://www.anbg.gov.au/cgi-bin/phtml?pc=dig&pn=12556&size=3" target="_blank">Link</a>
                            </p>
                            
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="s-masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/bo.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/portfolio/bo.jpg" 
                                     srcset="images/portfolio/bo.jpg 1x, images/portfolio/bo-2.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Boneseed
                            </h3>
                            <p class="item-folio__cat">
                                Chrysanthemoides monilifera
                            </p>
                        </div>
        
        
                        <span class="item-folio__caption">
                            <p>It is an invasive woody weed of rivers, streams considered to cause erosion and flooding.<br>
                                Photographed by Fagg, M. Near Forster, NSW.
                                <a href="http://www.anbg.gov.au/cgi-bin/phtml?pc=a&pn=31692&size=3" target="_blank">Link</a>
                            </p>
                            
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="s-masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/bc.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/portfolio/bc.jpg" 
                                     srcset="images/portfolio/bc.jpg 1x, images/portfolio/bc-2.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Bridal Creeper
                            </h3>
                            <p class="item-folio__cat">
                                Asparagus asparagoides
                            </p>
                        </div>
        
        
                        <span class="item-folio__caption">
                            <p>It is an invasive woody weed of rivers, streams considered to cause erosion and flooding.<br>
                                Photographed by Fagg, M. At Glenbrook Native Reserve, Blue Mountains, NSW.
                                <a href="http://www.anbg.gov.au/cgi-bin/phtml?pc=a&pn=31692&size=3" target="_blank">Link</a>
                            </p>
                            
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="s-masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/aw.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/portfolio/aw.jpg" 
                                     srcset="images/portfolio/aw.jpg 1x, images/portfolio/aw-2.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Alligator Weed
                            </h3>
                            <p class="item-folio__cat">
                                Salix nigra
                            </p>
                        </div>
        
        
                        <span class="item-folio__caption">
                            <p>It is an invasive woody weed of rivers, streams considered to cause erosion and flooding.<br>
                                Photographed by Fagg, M. at Black Mountain Peninsula, at edge of Lake Burley Griffin, northern end of rowing 'wharf' west of John Cardiff Close, ACT.
                                <a href="http://www.anbg.gov.au/cgi-bin/phtml?pc=dig&pn=52313&size=3" target="_blank">Link</a>
                            </p>
                            
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

                <div class="s-masonry__brick" data-aos="fade-up">
                    <div class="item-folio">

                        <div class="item-folio__thumb">
                            <a href="images/portfolio/gallery/me.jpg" class="thumb-link" title="Lamp" data-size="1050x700">
                                <img src="images/portfolio/me.jpg" 
                                     srcset="images/portfolio/me.jpg 1x, images/portfolio/me-2.jpg 2x" alt="">
                            </a>
                        </div>

                        <div class="item-folio__text">
                            <h3 class="item-folio__title">
                                Mesquite
                            </h3>
                            <p class="item-folio__cat">
                                Prosopis limensis
                            </p>
                        </div>
        
        
                        <span class="item-folio__caption">
                            <p>It is an invasive woody weed of rivers, streams considered to cause erosion and flooding.<br>
                                Photographed by Wilson, C.G. at Hughenden, QLD.
                                <a href="http://www.anbg.gov.au/cgi-bin/phtml?pc=dig&pn=12625&size=3" target="_blank">Link</a>
                            </p>
                            
                        </span>

                    </div> <!-- end item-folio -->
                </div> <!-- end masonry__brick -->

            </div> <!-- end s-masonry -->
        </div> <!-- end s-masonry-wrap -->

    
    </section>



    <!-- footer
    ================================================== -->
    <footer style="border-top: 2px solid #ffc90e">

        <div class="row footer-main">
            <div  class="footer-logo"></div>
            <div class="footer-desc">

            </div>

        </div> <!-- end footer-main -->

        <div class="col-twelve">
            <div class="copyright">
                <span>© Copyright Catch-All 2020</span> 
                    
            </div>
        </div>

        <a href="#modalstem" role="button" data-toggle="modal">Disclaimer</a>
                        <!-- Scrollable Modal HTML -->
                        <div id="modalstem" class="modal fade" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title">Disclaimer</h3>
                                    </div>
                                    <div class="modal-body">
                                        <p style="color: black; text-align: left;">
                                            The information contained on this website is for reference purposes only. RAD Trip Co. has taken reasonable steps to verify the legitimacy of the same.<br><br> 
                                            The Weed-Catch tool is supported by the information provided by the North Central CMA’s Weed Identification Guide. The website also has links to other sites and the information provided on these external sites is not under the control of RAD Trip Co.<br><br>
                                            RAD Trip Co. expects that all the users that access this website take the responsibility for accessing the accuracy, reliability and currency of the content.
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end footer-main -->

        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Catch-All 2020</span> 
                    	
                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->

    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/nav.js"></script>
</body>

</html>