<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- CSS FILES START -->
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <link href="/stylesheets/color.css" rel="stylesheet">
    <link href="/stylesheets/responsive.css" rel="stylesheet">
    <link href="/stylesheets/owl.carousel.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/prettyPhoto.css" rel="stylesheet">
    <link href="/stylesheets/all.min.css" rel="stylesheet">
    <!-- CSS FILES End -->

    <!--   JS Files Start  --> 
    <script src="js/jquery-3.3.1.min.js"></script> 
    <script src="js/jquery-migrate-1.4.1.min.js"></script> 
    <script src="js/popper.min.js"></script> 
    <script src="js/bootstrap.min.js"></script> 
    <script src="js/owl.carousel.min.js"></script> 
    <script src="js/jquery.prettyPhoto.js"></script> 
    <script src="js/isotope.min.js"></script> 
    <script src="js/custom.js"></script>

    <!-- Isotope -->
    <script type="text/javascript" src="js/isotope.js"></script>
    <script type="text/javascript" src="js/ini.isotope.js"></script>
    

    <style>
        .nav-link:hover {
            color: #ffc90e !important;
            cursor: pointer;
        }
    </style>


    <title>CatchALL</title>
  </head>
   <!-- Nav Bar Start -->
   <section class="top-bar animated-header">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="index.html">
                        <img src="images/rad.png" alt="logo" width='60' height="60">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="northCen.html">North Central</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="weedID.html">Weed Identification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="losupp.html">Landowner Support</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        
</section>
<!-- Nav Bar End -->
<!-- page title -->
<section class="page-title-section" style="background-color: #ffc90e;">
    <div class="container">
          <h2>Grants & Funding</h2>
          <p><b>Information about all government and non-government funding and aid.</b></p>
    </div>
  </section>
  <!-- /page title -->

<section id="main-container" class="main-container">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="isotope-nav" data-isotope-nav="isotope">
                <ul>
                   <li><a href="#" class="active" data-filter="*">All Grants</a></li>
                   <li><a href="#" data-filter=".government">Government</a></li>
                   <li><a href="#" data-filter=".councils">Local Councils</a></li>
                   <li><a href="#" data-filter=".philanthrophic">Philanthrophic Trusts</a></li>
                   <li><a href="#" data-filter=".corporate">Corporate Support</a></li>
                   <li><a href="#" data-filter=".scheme">Market Schemes</a></li>
                </ul>
             </div><!-- Isotope filter end -->
          </div><!-- Filter col end -->
       </div><!-- Filter row end -->
       
       <div id="isotope" class="isotope">
        <!-- gov grants -->
        <div class=" government isotope-item">
            <!-- item 1 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="images/epa.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">EPA Community Funding Program</h4>
                                    <p class="card-text">This ‘Inspiring Environmental Solutions Program’ invites Victorian communities to propose
                                        fresh thinking and inspirational solutions to the important environment challenges we face.</p>
                                    <a href="epa.html" class="btn btn-warning">Read More</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- item 2 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="images/wwf.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Threatened Species
                                        Network Community
                                        Grants</h4>
                                    <p class="card-text">To protect nationally threatened species and ecological communities.</p>
                                    <a href="#" class="btn btn-warning">Read More</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- council grants -->
        <div class=" councils isotope-item">
            <!-- item 1 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="images/cogb.jpg" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Environmental
                                        Sustainability
                                        Community Grant</h4>
                                    <p class="card-text">The program provides an opportunity for community groups and organisations to complete
                                        projects that complement the areas of community strengthening that have been identified for
                                        the City of Greater Bendigo community.</p>
                                    <a href="#" class="btn btn-warning">Read More</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- item 2 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-horizontal">
                                <div class="img-square-wrapper">
                                    <img class="" src="images/cgs1.png" alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">Community Volunteers
                                        Small Grants</h4>
                                    <p class="card-text">Central Goldfields Victorian Volunteer Small Grants are an opportunity for not-for-profit
                                        organisations. They play a very significant role in our community - “What occurs in our shire
                                        relies heavily on volunteer support and we need to continue to support and embrace the efforts”
                                        - Central Goldfields Shire website.</p>
                                    <a href="epa.html" class="btn btn-warning">Read More</a>
                                </div>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="style-1">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <span class="copyright">Copyright &copy; <a style=color:#ffc90e href="index.html">Team RAD Trip</a></span>
            </div>
        </div>
    </div>
</footer>







