<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Home</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">

<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

<!--Fonts-->
<link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700' rel='stylesheet' type='text/css'>

<!--owl-carousel css-->
<link rel="stylesheet" href="/stylesheets/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/stylesheets/owl-carousel/owl.theme.css">
<link rel="stylesheet" href="/stylesheets/owl-carousel/owl.transitions.css">
<!--        <link rel="stylesheet"  href="css/animations.css">-->
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/main.css">
<link rel="stylesheet" href="/stylesheets/color1.css">

<script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body id="page-top" class="index">

<!-- Preloader -->
<div class="preloader"></div>

<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Header -->
<header id="home">
	<!-- Navigation -->
	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
				</button>
				<a style="display: none" class="navbar-brand page-scroll" href="#page-top"><img src="/images/logos/logo.png" alt=""></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav text-center">
					<li><a href="/">Home</a></li>
					<li><a href="/native.ejs">North Central</a></li>
					<li class="logo-holder">                        
						<a href="/"><img src="images/logos/logo.png" alt=""></a>
					</li>
					<li><a href="/land.ejs">Landowner Support</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="layer1">
		<div class="container">
			<div id="main-banner" class="main-banner">
				<div class="intro-text">
					<div class="intro-heading"><h1>North Central</h1></div>
					<span class="page-scroll btn btn-primary text-center">See More Below</span>
				</div>
			</div> 
		</div>
		<div class="banner-layer layer2"></div>
		<div class="banner-layer layer3"></div>
	</div> 

</header>

<section class="why-holder">
	<div class="container-fluid  bg-light-gray">
		<div class="row">
			<div class="col-md-6 picture-border">
				<div class="row">
					<img src="images/north1.jpeg" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="why-right">
					<h4 class="section-sub-heading">
						Where is North Central Located?
					</h4>
					<div class="content-area">
						<p class="sub-text">North Central is a region that belongs to the rural part of Victoria. To the north of this region lies the Victorian/New South Wales border which is also defined by the Murray River. On the east, it is bounded by the Great Dividing Range that is contained within the Victorian Alps and Central Highlands. In the south, it is bounded by the region of Greater Melbourne and on the west, by Mallee.</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
    
<section class="why-holder">
	<div class="container-fluid  bg-light-gray">
		<div class="row">
			<div class="col-md-6">
				<div class="why-right">
					<h4 class="section-sub-heading">
						Who is responsible for the integrated planning and coordination of land, water and biodiversity in this region?
					</h4>
					<div class="content-area">
						<p class="sub-text">The management of the natural resources covering 30,000 kilometres in North Central is administered by the <a href="http://www.nccma.vic.gov.au">North Central Catchment Management Authority</a>. The NCCMA also manages the rural water allocations and protection of the Avoca, Campaspe and Loddon rivers that flow in this basin. This is done by following the principles outlined in the Regional Catchment Strategy (RCS) of North Central.</p>
					</div>
				</div>
			</div>
            <div class="col-md-6 picture-border">
				<div class="row">
					<img src="images/north2.jpeg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<section class="why-holder">
	<div class="container-fluid  bg-light-gray">
		<div class="row">
			<div class="col-md-6 picture-border">
				<div class="row">
					<img src="images/north3.jpeg" alt="">
				</div>
			</div>
			<div class="col-md-6">
				<div class="why-right">
					<h4 class="section-sub-heading">
						What is a Regional Catchment Strategy?
					</h4>
					<div class="content-area">
						<p class="sub-text">Regional Catchment Strategies are the primary frameworks that are designed for the management of land, water and biodiversity in a region. They are developed by integrating values of the local community and their regional priorities with the government policies. 

                        </p><p>Each CMA prepares their own RCS along with the stakeholders involved in the integrated catchment management of that region. The<a href="http://www.nccma.vic.gov.au/sites/default/files/publications/nccma-78628_north_central_cma_rcs_-_may_2013_web_0.pdf"> North Central Regional Catchment Strategy</a> contains more information about their regional framework.

                        </p><p>To help North Central in shaping their Regional Catchment Strategy for 2021-27, take part in this<a href="https://engage.vic.gov.au/north-central-regional-catchment-strategy-2021-27"> survey</a>.</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<span class="copyright"> <em>RAD TRIP.CO</em></span>
			</div>
		</div>
	</div>
</footer>



<!-- jQuery -->
<script src="/js/vendor/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/vendor/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/vendor/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/js/vendor/jqBootstrapValidation.js"></script>
<script src="/js/vendor/contact_me.js"></script>
<script src="/js/vendor/owl.carousel.min.js"></script>
<script src="/js/vendor/prettify.js"></script>
<script src="/js/vendor/css3-animate-it.js"></script>

<!-- Theme JavaScript -->
<script src="/js/vendor/agency.min.js"></script>
<script src="/js/vendor/jquery.mixitup.js"></script>
<script src="/js/vendor/wow.min.js"></script>

<script src="/js/main.js"></script>
<script src="/js/script.js"></script>

</body>
</html>